* {
margin: 0;
}

body {
  display: flex;
  justify-content: space-between;
}

header {
  position: fixed;
  top: 0;
  left: 5%;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  background-color: aliceblue;
  z-index: 10;
}

header ul {
  display: flex;
  align-items: last baseline;
  list-style: none;
  gap: 100px;
  height: 100%;
}

header ul > li {
  font-size: 1.5em;
  color: #252525;
  opacity: .8;
  cursor: pointer;
  transition: 1s all;
}

header ul > li:hover {
  opacity: 1;
  transform: scale(1.3);
}

header ul > li a {
  color: #252525;
  text-decoration: none;
}

header .login {
  text-decoration: none;
  color: whitesmoke;
  padding: 10px 40px;
  background-color: #252525;
  border-radius: 20px;
  font-weight: 700;
}

.logo {
  background-image: url('https://www.creativefabrica.com/wp-content/uploads/2023/03/29/Cocktail-logo-graphic-Graphics-65674730-1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 60px;
}

.nav {
  width: 5%;
  height: 100vh;
  background-color: #252525;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nav-items {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
}

.nav-items a {
  color: black;
}

.cart {
  position: relative;
}

.numOfItems {
  position: absolute;
  bottom: -15px;
  right: -10px;
  background-color: red;
  padding: 2px 10px;
  border-radius: 50%;
}

.sections_container {
  width: 95%;
  height: 100vh;
  overflow: hidden;
}

.sections_container section {
  width: 100%;
  height: 100%;
}

.welcome {
  background-image: url('./images/pexels-ð˜½ð™¡ð™ªð™š-ð˜¼ð™§ð™–ð™ªð™¯-16806422.jpg');
  background-repeat: no-repeat;
  background-position: center right;
  background-size:cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30px;
  padding-top: 18rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  

}

.welcome * {
  margin: 5px;
  
}

.welcome h1 {
  font-size: 1.5em;
}

.welcome button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: azure;
  color: #252525;
  border: none;
  font-size: .5em;
  margin-top: 20px;
  box-shadow: 1px 1px 5px 1px #252525;
  line-height: 40px;
  font-weight: 700;
  cursor: pointer;
}

.welcome button:hover {
  box-shadow: inset 1px 1px 5px 1px #252525, inset -1px 1px 5px -1px #252525;
}

.welcome h1,
.welcome p {
  text-shadow: -5px -5px 5px  #252525;
  margin-top: 2rem;
  
  
}
.orderbutton:hover {
color:#fff;
background-color: #252525;
cursor:default
}

/* LOGIN SECTION */
.login_form {
  background-image: linear-gradient(to bottom right,#252525,#ef88bb, #233a4e);
  display: flex;
  align-items: center;
  
}

.slogan {
  font-size: 0.5rem;
  color: aliceblue;
  
  box-shadow:#fff;
  margin-right: 20rem;
}

.login_container {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  height: 70vh;
  width: 100%;
}

.login_container-image {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  padding-left: 20px;
  color: bisque;
}

.login_container-image h1 {
  text-shadow: -5px -5px 3px  #252525;;
}

.login_container-form {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: aliceblue;
}

.login_container-form input {
  width: 60%;
  height: 40px;
  background: transparent;
  border: none;
  border-bottom: 1px dotted whitesmoke;
  color: whitesmoke;
}

::placeholder {
  color: whitesmoke;
}

.login_container-form button {
  padding: 3px 60px;
  line-height: 40px;
  background-color: aliceblue;
  color: #252525;
  font-size: 1.1rem;
  font-weight: 700;
  border: none;
  box-shadow: 1px 1px 10px 1px black;
}

/* END OF LOGIN SECTION */

/* START OF PRODUCTS SECTION */
.shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.products-container {
  max-width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 50px;
  overflow-x: scroll; 
}

/* width */
.products-container::-webkit-scrollbar {
  height: 5px;
}

/* Track */
.products-container::-webkit-scrollbar-track {
  background: whitesmoke;
  box-shadow: 1px 1px 5px 1px white;
}

/* Handle */
.products-container::-webkit-scrollbar-thumb {
  background: #252525;
}

/* Handle on hover */
.products-container::-webkit-scrollbar-thumb:hover {
  background:#252525;
}

.product {
  min-width: 350px;
  height: 450px;
  padding: 10px;
  box-shadow: 1px 1px 5px 1px #252525;
}

.product > img {
  width: 100%;
  height: 250px;
}

.product-name {
  font-size: 2em;
  margin: 2px;
}

.product-ingredients {
  font-size: .9em;
}

.product-pricing {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.product-price {
  font-size: 30px;
  margin: 0;
  line-height: 60px;
}

.product-id {
  margin: 0;
}

.product-toCart {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #252525;
  border: none;
  color: #fff;
}

/* SHOPPING CART */

.shopping_cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.shopping_cart h1 {
  padding-top: 50px;
  padding-left: 20px;
}


.shopping_cart p {
  padding-left: 20px;
}

.cart-container {
  height: 70vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px;
  gap: 40px;
  overflow-y: scroll;
}


/* width */
.cart-container::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.cart-container::-webkit-scrollbar-track {
  background: grey;
  box-shadow: 1px 1px 5px 1px white;
}

/* Handle */
.cart-container::-webkit-scrollbar-thumb {
  background: #252525;
}

/* Handle on hover */
.cart-container::-webkit-scrollbar-thumb:hover {
  background: #252525;
}

.cart-item {
  width: 90%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 5px 1px #252525;
}

.cart-item img {
  width: 40%;
  height: 200px;
}

.remove-button {
  height: 200px;
  width: 10%;
  background-color: #252525;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  cursor: pointer;
}

.checkout {
  width: 170px;
  height: 50px;
  border: none;
  background-color: aquamarine;
  position: absolute;
  bottom: 20px;
  right: 0;
  transition: 1s all;
}

.checkout:hover {
  background-color: green;
}